<%- include("../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/admin-header.ejs") %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <form
        action=""
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <h1 class="card-title">Add Vehicle</h1>
        <div class="form-group">
          <label for="first-name" class="text-light"
            >Vehicle make year and model</label
          >
          <input
            type="text"
            class="form-control bg-dark border-dark text-light"
            name="cname"
            id="first-name"
            placeholder="Vehicle Name"
            required
          />
        </div>
        <div class="form-row"></div>
        <button type="submit" class="btn btn-primary float-right">
          Add Vehicle
        </button>
        <a
          class="btn btn-danger cancel-btn float-right"
          href="/admin/values/cars"
          >Cancel</a
        >
      </form>
    </main>
  </div>
</div>
