<%- include("../partials/header.ejs") %>

<div class="container mx-auto mt-2">
  <h1 class="card-title text-light text-center">Unauthorized</h1>

  <h5 class="card-title text-light text-center">
    Want to apply to be a EMS/FD Deputy? Let a higher up in your server know!
  </h5>
</div>
