<%- include("./partials/main/header.ejs") %>

<div class="container">
  <div class="text-center text-dark card-title">
 <h1>  Sorry! This CAD is expired</h1>
 <h4>Please Contact your server owner to get access again, All the data to this CAD will get deleted in 20 days</h4>  
  </div>

</div>
