<%- include("./partials/header.ejs") %>

<div class="container mx-auto">
  <h1 class="card-title text-center mt-3 text-light">SnailyCAD</h1>

  <ul class="list-group mt-2">
    <% if (!loggedin) { %>
    <a
      href="/login"
      class="btn btn-primaryy list-group-item text-light bg-dark border-dark"
    >
      Login in
    </a>
    <a
      href="/register"
      class="btn btn-primaryy list-group-item mt-2 text-light bg-dark border-dark"
    >
      Register
    </a>
    <% } else {%>
    <h3 class="card-title cap text-center text-light">
      Welcome Back <%= username %>
    </h3>
    <a
      href="/citizen"
      class="btn btn-primaryy list-group-item text-light bg-dark border-dark"
    >
      Citizen Page
    </a>
    <% } %>
  </ul>
</div>
