<%- include("./partials/header.ejs") %>

<h1 class="card-title">Equinox CAD</h1>

<ul class="list-group">
    <a href="/login" class="btn btn-primaryy list-group-item">
        Login in
    </a>
    <a href="/register" class="btn btn-primaryy list-group-item">
        Register
    </a>
</ul>