<%- include("./partials/main/header.ejs") %>


<div class="container">
    <h1 class="text-center card-title">
        Success!
    </h1>
    <br><br>

    <h3 class="text-center card-title">Your order was successfully made!</h3>
</div>