body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #6c757d !important;
}

body::-webkit-scrollbar-thumb {
  background: #343a40 !important;
}

.edit-veh-form {
  margin: 100px;
}

.margin-right-10 {
  margin-right: 10px;
}

.cancel-btn {
  margin-right: 10px;
}

.aler {
  position: relative;
  top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}

.add-player-form {
  margin: 50px;
}

.searchbar-a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myInput-2 {
  position: relative;
  margin-left: 50px;
  top: 100px;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

.admin-login {
  margin-left: 150px;
  margin-right: 150px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top {
  margin-top: 150px;
}

.disabled {
  opacity: 0;
  pointer-events: none;
}

.btn-primaryy {
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}
.btn-primaryy:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primaryy2 {
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}
.btn-primaryy2:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.uppercase {
  text-transform: uppercase;
}

.color-black {
  color: black;
}

.top-1 {
  margin-top: 2px;
}

#more {
  display: none;
}
#more2 {
  display: none;
}
#more3 {
  display: none;
}

.cap {
  text-transform: capitalize;
}
#more4 {
  display: none;
}

#more5 {
  display: none;
}

.bolder {
  font-weight: bolder;
}

.no-out {
  outline: none;
}

.center {
  text-align: center;
}

.custom {
  border: none;
  width: 25px;
  pointer-events: none;
}
