<%- include("../partials/header.ejs") %>

<div class="container-fluid mt-3 text-light">
  <ul class="list-group">
    <a href="/dispatch" class="btn btn-primary cap mb-2 mt-2"
      >Back to Dispatch</a
    >
    <div class="">
      <% if (users.length > 0) { %> <% users.forEach(user => {%>
      <div
        class="card list-group-item bg-dark border-dark mr-3 mb-3"
        style="width: 18rem;"
      >
        <div class="card-body">
          <h5 class="card-title cap"><%= user.full_name %></h5>
          <span class="bolder"> Birthday:</span>
          <span class="cap">
            <%= user.birth %>
          </span>
          <br />
        </div>
      </div>
      <% }) %> <% } else {%>
      <li class="list-group-item text-dark">
        No one found living in this area
      </li>
      <% }%>
    </div>
  </ul>
</div>
