<%- include("../partials/header.ejs") %>

<div class="container mt-3 text-light">
  <ul class="list-group">
    <a href="/cad/<%= cadId %>/dispatch" class="btn btn-primary cap mb-2 mt-2"
      >Back to Dispatch</a
    >
    <div class="row container mx-auto ">
      <% if (weapons.length > 0) { %> <% weapons.forEach(weapon => {%>
      <div
        class="card list-group-item bg-dark border-dark mr-3 mb-3"
        style="width: 18rem;"
      >
        <div class="card-body">
          <h5 class="card-title"><%= weapon.owner %></h5>
          <span class="bolder"> Weapon Status:</span>
          <span class="cap">
            <%= weapon.status %>
          </span>
          <br />
        </div>
      </div>
      <% }) %> <% } else {%>
      <li class="list-group-item bg-dark border-dark text-light">
        No one found registered with this weapon
      </li>
      <% }%>
    </div>
  </ul>
</div>
