<%- include("../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/admin-header.ejs") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <form
        class="mt-2"
        action=""
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
      <h1 class="card-title">Edit Gender</h1>
        <div class="form-group text-light">
          <label for="exampleInputEmail1">Enter Gender</label>
          <input
            name="gender"
            type="text"
            class="form-control  text-light bg-dark border-dark "
            placeholder="Gender"
            value="<%= gender.name %>"
          />
        </div>
        <button type="submit" class="btn btn-success float-right">
          Update
        </button>
        <a
          href="/admin/values/genders"
          class="btn btn-danger float-right margin-right-10"
          >Cancel</a
        >
      </form>
    </main>
  </div>
</div>
