<%- include("../partials/header.ejs") %>
<div class="container-fluid">
  <div class="row">
    <%- include("../partials/admin-header.ejs") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <form
        class="mt-2"
        action=""
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
      <h1 class="card-title">Add Weapons</h1>
        <div class="form-group">
            <label for="first-name" class="text-light">Weapon Name</label>
            <input
              type="text"
              class="form-control text-light border-dark bg-dark"
              name="name"
              id="first-name"
              placeholder="Weapon"
              required
            />
        </div>
        <div class="form-row"></div>
        <button type="submit" class="btn btn-primary float-right">
          Add Weapon
        </button>
        <a
          class="btn btn-danger cancel-btn float-right"
          href="/cad/<%= cadId %>/admin/values/weapons"
          >Cancel</a
        >
      </form>
    </main>
  </div>
</div>
