<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>

<form class="edit-veh-form" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Weapon</label>
        <input name="name" type="text" class="form-control" placeholder="Weapon" value="<%= weapon.name %>" />
    </div>
    <button type="submit" class="btn btn-success float-right">Update</button>
    <a class="btn btn-danger cancel-btn float-right" href="/admin/values/weapons">Cancel</a>

</form>