<%- include("../../partials/main/header.ejs") %>

<div class="container mt-2">

    <form
    action=""
    method="post"
    enctype="application/x-www-form-urlencoded"
  >
    <% if(message != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= message %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        <h5 class="modal-title mb-2" id="exampleModalLabel">Change Password</h5>


    <div class="form-group">
      <label for="username">Enter Old Password</label>
      <div class="input-group mb-2">
        <input
        autofocus="false"
        type="password"
        name="old_password"
        class="form-control"
        placeholder="Old Password"
          id="manage_password"
        />
        <div class="input-group-prepend">
          <button
            type="button"
            class="input-group-text btn btn-primary"
            onclick="showPassword()"
            id="passwordBtns"
          >
            Show Password
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="username">Enter New Password</label>
      <div class="input-group mb-2">
        <input
        autofocus="false"
        type="password"
        name="password"
        class="form-control"
        placeholder="New Password"
        minlength="6"
        maxlength="255"
          id="password"
        />
        <div class="input-group-prepend">
          <button
            type="button"
            class="input-group-text btn btn-primary"
            onclick="showPassword2()"
            id="passwordBtns2"
          >
            Show Password
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <!-- <input
        type="password"
        name="password"
        class="form-control"
        
      /> -->
    </div>

    <div class="form-group">
      <label for="username">Confirm New Password</label>
      <div class="input-group mb-2">
        <input
        autofocus="false"
        type="password"
        name="password2"
        class="form-control"
        placeholder="Confirm New Password"
        minlength="6"
        maxlength="255"
          id="password2"
        />
        <div class="input-group-prepend">
          <button
            type="button"
            class="input-group-text btn btn-primary"
            onclick="showPassword3()"
            id="passwordBtns3"
          >
            Show Password
          </button>
        </div>
      </div>
    </div>

    <div class="float-right">
        <a href="/account" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </a>
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>

</div>
</div>
    </form>


</div>
<script>
  function showPassword() {
    let passwordInput = document.getElementById('manage_password');
    let passwordbtn = document.getElementById("passwordBtns")
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      passwordbtn.textContent = 'Hide Password';
    } else {
      passwordInput.type = 'password';
      passwordbtn.textContent = 'Show Password';
    }
  }; 
  function showPassword2() {
    let passwordInput = document.getElementById('password');
    let passwordbtn = document.getElementById("passwordBtns2")
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      passwordbtn.textContent = 'Hide Password';
    } else {
      passwordInput.type = 'password';
      passwordbtn.textContent = 'Show Password';
    }
  }; 
  function showPassword3() {
    let passwordInput = document.getElementById('password2');
    let passwordbtn = document.getElementById("passwordBtns3")
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      passwordbtn.textContent = 'Hide Password';
    } else {
      passwordInput.type = 'password';
      passwordbtn.textContent = 'Show Password';
    }
  }; 
</script>