<%- include("../partials/main/header.ejs") %>

<div class="container" id="main">
    <div class="loader-con" id="loader-con">
        <div class="loader" id="loader"></div>
  </div>
  <div class="container text-dark">
    <div class="row grid">
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/login.png" alt="protfolio" />
            <h6 class="card-title p-2">Easy Home Page</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/citizenPage.png" alt="protfolio" />
            <h6 class="card-title p-2">Citizens Page</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/details-1.png" alt="protfolio" />
            <h6 class="card-title p-2">Citizens Details Page</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/details-2.png" alt="protfolio" />
            <h6 class="card-title p-2">Citizens Details Page folded out</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/regVehicle.png" alt="protfolio" />
            <h6 class="card-title p-2">Vehicle Registration</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/regWeapon.png" alt="protfolio" />
            <h6 class="card-title p-2">Weapon Registration</h6>
          </div>
        </div>
      </div>
    </div>

    <h1 class="card-title">Company Screenshots</h1>
    
    <div class="row grid">
     
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/joinCompany.png" alt="protfolio" />
            <h6 class="card-title p-2">Join A Company..</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/companyCreate.png" alt="protfolio" />
            <h6 class="card-title p-2">.. Or Start your own!</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/companyPosts.png" alt="protfolio" />
            <h6 class="card-title p-2">Company Blog page</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/makePost.png" alt="protfolio" />
            <h6 class="card-title p-2">Create Company Posts</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/companyEmployees.png" alt="protfolio" />
            <h6 class="card-title p-2">Manage Employees</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 grid-item">
        <div class="single-gallery gallery-masonry mt-30">
          <div class="gallery-image">
            <img src="/screenshots/companyVehicles.png" alt="protfolio" />
            <h6 class="card-title p-2">Manage Vehicles</h6>
          </div>
        </div>
      </div>
    </div>


    <h1 class="card-title">Police Department Screenshots Compact Version</h1>
    <div class="row grid">
        <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/officers.png" alt="protfolio" />
                <h6 class="card-title p-2">Officers Page</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/add-officer.png" alt="protfolio" />
                <h6 class="card-title p-2">Add Officer Page</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/officersDashCompact.png" alt="protfolio" />
                <h6 class="card-title p-2">Police Dashboard A</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/officersDashReal.png" alt="protfolio" />
                <h6 class="card-title p-2">Police Dashboard B <strong>NOTICE:</strong> This Version is still in development</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/new-bolo.png" alt="protfolio" />
                <h6 class="card-title p-2">Create Bolo</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/plateSearch.png" alt="protfolio" />
                <h6 class="card-title p-2">Plate Search</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/nameSearch.png" alt="protfolio" />
                <h6 class="card-title p-2">Person Name Search</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/warrant.png" alt="protfolio" />
                <h6 class="card-title p-2">Add Warrant Page</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/offence.png" alt="protfolio" />
                <h6 class="card-title p-2">Add offence Page</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 grid-item">
            <div class="single-gallery gallery-masonry mt-30">
              <div class="gallery-image">
                <img src="/screenshots/penal.png" alt="protfolio" />
                <h6 class="card-title p-2">Person Name Search Page</h6>
              </div>
            </div>
          </div>
        </div>
        
        <h1 class="card-title">Dispatch Screenshots</h1>
        <div class="row grid">
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/dispatch.png" alt="protfolio" />
                  <h6 class="card-title p-2">Dispatch Page</h6>
                </div>
              </div>
            </div>

            
        </div>

        <h1 class="card-title">EMS/FD Screenshots</h1>
        <div class="row grid">
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/ems.png" alt="protfolio" />
                  <h6 class="card-title p-2">EMS/FD Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/add-ems-fd.png" alt="protfolio" />
                  <h6 class="card-title p-2">Add **EMS/FD Page</h6>
                </div>
              </div>
            </div>
        </div>

        <h1 class="card-title">Admin Screenshots</h1>
        <div class="row grid">
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/admin.png" alt="protfolio" />
                  <h6 class="card-title p-2">Admin Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/action-logs.png" alt="protfolio" />
                  <h6 class="card-title p-2">Action Logs Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/members.png" alt="protfolio" />
                  <h6 class="card-title p-2">Member Management Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/settings.png" alt="protfolio" />
                  <h6 class="card-title p-2">CAD Settings Page</h6>
                </div>
              </div>
            </div>
            <!-- VALUES -->
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/vehicles.png" alt="protfolio" />
                  <h6 class="card-title p-2">Vehicles Management Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/genders.png" alt="protfolio" />
                  <h6 class="card-title p-2">Gender Management Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/weapons.png" alt="protfolio" />
                  <h6 class="card-title p-2">Weapon Management Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/ethnicities.png" alt="protfolio" />
                  <h6 class="card-title p-2">ethnicity's Management  Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/legal.png" alt="protfolio" />
                  <h6 class="card-title p-2">Legal Status Management Page</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
              <div class="single-gallery gallery-masonry mt-30">
                <div class="gallery-image">
                  <img src="/screenshots/depts.png" alt="protfolio" />
                  <h6 class="card-title p-2">Department Management Page</h6>
                </div>
              </div>
            </div>
        </div>

    <div class="row">
      <div class="col">
        <img src="/screenshots/citizenPage.png" alt="citizenPage" />
      </div>
      <div class="col">
        <img src="/screenshots/citizenPage.png" alt="citizenPage" />
      </div>
      <div class="col">
        <img src="/screenshots/citizenPage.png" alt="citizenPage" />
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>

<script>
      let loaderCon = document.getElementById('loader-con');

      window.onload = function() {
        //hide the preloader
        loaderCon.style.display = 'none';
        document.querySelector('.loader').style.display = 'none';
      };
</script>