<%- include("../partials/main/header.ejs") %>

<form action="" method="post" enctype="application/x-www-form-urlencoded">
  <% if(message != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <h1 class="card-title">Please Login First</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Username</label>
    <input
      name="username"
      type="text"
      class="form-control"
      placeholder="username"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Password</label>

    <div class="input-group mb-2">
      <input
        name="password"
        type="password"
        class="form-control"
        placeholder="Password"
        id="password"
      />
      <div class="input-group-prepend">
        <button
          type="button"
          class="input-group-text btn btn-primary"
          onclick="showPassword()"
        >
          Show Password
        </button>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary float-right">Login</button>
  <a href="/" class="btn btn-danger cancel-btn float-right">Cancel</a>
  <p>Don't have an account? <a href="/register">Register here.</a></p>
</form>

<script>
  function showPassword() {
    let passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }
</script>
