<%- include("../partials/main/header.ejs") %>

<!-- <form action="/order/auth/payment" method="POST">
    <button type="submit" class="btn btn-primary">Order CAD</button>
</form> -->

<div class="container">
  <h1 class="card-title">
    Paypal Integration coming soon!
  </h1>
</div>