<%- include("../partials/main/header.ejs") %>

<div class="container-fluid mt-3">
    <h1 class="card-title">Our Products</h1>

    <div class="container grid mt-2">
        <div class="card" style="width: 15rem;">
            <div class="card-header">
                Free CAD/MDT
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    Features:
                </h4>
                <ul class="list-group">
                    <li>Unlimited Accounts</li>
                    <li>Max 3 Citizens per account</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>