<%- include("../partials/header.ejs") %>


<form class="add-player-form" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="exampleInputEmail1">Are you sure you want to logout?</label>
        <input type="" name="yes" id="yes">
        <button class="btn btn-primary" type="submit">Yes</button>
    </div>
</form>