<%- include("../partials/main/header.ejs") %>


<div class="container mt-3">
    
    <h1 class="card-title">Create Ticket</h1>
    <% if(message != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show cap" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
    <form action="/support" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Ticket Subject</label>
          <input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description/Message</label>
            <textarea name="desc" id="desc" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="float-right">
            <a type="button" href="/support" class="btn btn-danger cancel-btn">Cancel</a>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>