<%- include("../partials/header.ejs") %>



<div class="container mt-4">
  <ul class="list-group mt-2 mb-2" id="myUL">
    <a
      href="/officers/dash"
      class="btn btn-primary text-light "
      >Police Dashboard</a
    >
  </ul>
  <div class="row">
    <div class="col">
      <li class="list-group-item ">
        Service Status:
      </li>
      <p class="list-group-item">10-5: Meal Break <br /></p>
      <p class="list-group-item">10-7: Out of Service, <br /></p>
      <p class="list-group-item">10-8: In service <br /></p>
      <p class="list-group-item">10-12: Active ride along <br /></p>
      <p class="list-group-item">10-23: Arrived on scene <br /></p>
      <p class="list-group-item">10-41: beginning tour of duty <br /></p>
      <p class="list-group-item">10-42: Ending tour of duty <br /></p>
      <p class="list-group-item">10-65: Escorting Prisoner <br /></p>
      <p class="list-group-item">10-93: Removed from game <br /></p>
      <p class="list-group-item">10-97: In route <br /></p>
      <p class="list-group-item">Code 0: Game crash <br /></p>
      <p class="list-group-item">Code 1: No Lights nor sirens <br /></p>
      <p class="list-group-item">Code 2: Lights, no sirens <br /></p>
      <p class="list-group-item">Code 3: Lights and Sirens</p>
      <p class="list-group-item">Signal 11: Running Radar</p>
      <p class="list-group-item">Signal 41: 10-41 | 10-8</p>
      <p class="list-group-item"><span class="hidden">d</span></p>
      <p class="list-group-item"><span class="hidden">d</span></p>
    </ul>
    </div>
    <div class="col">
      <li class="list-group-item">Scenes:</li>
    <p class="list-group-item">10-10: Fights in Progress <br /></p>
    <p class="list-group-item">10-11: Traffic Stop <br /></p>
    <p class="list-group-item">10-13: Shots Fired <br /></p>
    <p class="list-group-item">10-16: Stolen Vehicle <br /></p>
    <p class="list-group-item">10-17: Suspicious Vehic <br /></p>
    <p class="list-group-item">10-25: Domestic Dispute <br /></p>
    <p class="list-group-item">10-49: Homicide <br /></p>
    <p class="list-group-item">10-50: Vehicle Acciden <br /></p>
    <p class="list-group-item">10-62: kidnapping <br /></p>
    <p class="list-group-item">10-64: Sexual assault <br /></p>
    <p class="list-group-item">10-66: Reckless Driver <br /></p>
    <p class="list-group-item">10-67: Fire <br /></p>
    <p class="list-group-item">10-68: Armed Robbery <br /></p>
    <p class="list-group-item">10-70: Foot Pursuit <br /></p>
    <p class="list-group-item">10-80: Vehicle Pursuit <br /></p>
    <p class="list-group-item">10-99: Officer in distre <br /></p>
    <p class="list-group-item">Code 5: Felony Stop <br /></p>
    <p class="list-group-item">Signal 60: Drugs</p>

    <div class="mb-3"></div>
    </div>
    <div class="row">
      <div class="col">
        <li class="list-group-item">Radio Comms:</li>
  
      
        <p class="list-group-item">10-1: Frequency Change <br /></p>
        <p class="list-group-item"> 10-2: Radio Check <br /></p>
        <p class="list-group-item"> 10-3: Stop Transmitting <br /></p>
  
        <p class="list-group-item"> 10-4: Affirmative <br /></p>
        <p class="list-group-item">10-6: busy <br /></p>
        <p class="list-group-item">    10-9: Repeat <br /></p>
        <p class="list-group-item">  10-22: Disregard <br /></p>
  
        <p class="list-group-item"> 10-26: ETA <br /></p>
        <p class="list-group-item">10-35: Wrap up the scene <br /></p>
        <p class="list-group-item">10-43: Information <br /></p>
        <p class="list-group-item">10-73: Advise Status <br /></p>
  
        <p class="list-group-item"> 10-90: In game warning <br /></p>
        <p class="list-group-item">Code 4: Under control <br /></p>
        <p class="list-group-item">Signal 37: Meet at Location <br /></p>
        <p class="list-group-item">Signal 100: Emergency traffic</p><p class="list-group-item"><span class="hidden">d</span></p>
        <p class="list-group-item"><span class="hidden">d</span></p>
        <p class="list-group-item"><span class="hidden">d</span></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <li class="list-group-item">Requests:</li>
   <p class="list-group-item"> 10-27: Drivers License Check <br /></p>
   <p class="list-group-item">10-28: Plate Check <br /></p> 
   <p class="list-group-item">10-29: Warrant Check <br /></p> 
   <p class="list-group-item">10-32: Requesting Backup <br /></p> 
   <p class="list-group-item">10-51: Towing Service <br /></p> 
   <p class="list-group-item"> 10-52: EMS service <br /></p>
   <p class="list-group-item">10-53: Fire Dept. Service <br /></p> 
   <p class="list-group-item">10-71: Supervisor needed</p> 
   <p class="list-group-item"><span class="hidden">d</span></p>
    </div>
    <div class="col">
      <li class="list-group-item">Subject Status:</li>
 
     <p class="list-group-item">10-0: Disappeared <br /></p> 
     <p class="list-group-item">10-30: Wanted Person <br /></p> 
     <p class="list-group-item">10-55: Intoxicated Driver <br /></p> 
     <p class="list-group-item">10-60: Armed With a Gun <br /></p> 
     <p class="list-group-item">10-44: Person Deceased <br /></p> 
     <p class="list-group-item"> 10-15: Subject in Custody <br /></p>
     <p class="list-group-item"> 10-31: Not wanted, No warrants <br /></p>
     <p class="list-group-item"> 10-56: Intoxicated Pedestrian <br /></p>
     <p class="list-group-item">10-61: Armed with a knife</p> 
     
    </div>

  </div>
    
</div>
<div class="mb-5"></div>