<%- include("../partials/header.ejs") %>

<ul class="list-group">
  <ul class="list-group">
    <li class="list-group-item ">
      Service Status:
    </li>
    <p class="list-group-item">10-5: Meal Break <br /></p>
    <p class="list-group-item">10-7: Out of Service, <br /></p>
    <p class="list-group-item">10-8: In service <br /></p>
    <p class="list-group-item">10-12: Active ride along <br /></p>
    <p class="list-group-item">10-23: Arrived on scene <br /></p>
    <p class="list-group-item">10-41: beginning tour of duty <br /></p>
    <p class="list-group-item">10-42: Ending tour of duty <br /></p>
    <p class="list-group-item">10-65: Escorting Prisoner <br /></p>
    <p class="list-group-item">10-93: Removed from game <br /></p>
    <p class="list-group-item">10-97: In route <br /></p>
    <p class="list-group-item">Code 0: Game crash <br /></p>
    <p class="list-group-item">Code 1: No Lights nor sirens <br /></p>
    <p class="list-group-item">Code 2: Lights, no sirens <br /></p>
    <p class="list-group-item">Code 3: Lights and Sirens</p>
    <p class="list-group-item">Signal 11: Running Radar</p>
    <p class="list-group-item">Signal 41: 10-41 | 10-8</p>
  </ul>

  <ul class="list-group ml-2">
    <li class="list-group-item">Scenes:</li>
    <p class="list-group-item">10-10: Fights in Progress <br /></p>
    <p class="list-group-item">10-11: Traffic Stop <br /></p>
    <p class="list-group-item">10-13: Shots Fired <br /></p>
    <p class="list-group-item">10-16: Stolen Vehicle <br /></p>
    <p class="list-group-item">10-17: Suspicious Vehic <br /></p>
    <p class="list-group-item">10-25: Domestic Dispute <br /></p>
    <p class="list-group-item">10-49: Homicide <br /></p>
    <p class="list-group-item">10-50: Vehicle Acciden <br /></p>
    <p class="list-group-item">10-62: kidnapping <br /></p>
    <p class="list-group-item">10-64: Sexual assault <br /></p>
    <p class="list-group-item">10-66: Reckless Driver <br /></p>
    <p class="list-group-item">10-67: Fire <br /></p>
    <p class="list-group-item">10-68: Armed Robbery <br /></p>
    <p class="list-group-item">10-70: Foot Pursuit <br /></p>
    <p class="list-group-item">10-80: Vehicle Pursuit <br /></p>
    <p class="list-group-item">10-99: Officer in distre <br /></p>
    <p class="list-group-item">Code 5: Felony Stop <br /></p>
    <p class="list-group-item">Signal 60: Drugs</p>
  </ul>
</ul>

<div id="codes">
  <div id="service">
    Service Status:
    <br />
    <br />
  </div>
  <div id="scenes"></div>
  <div id="radio">
    Radio Comms: <br />
    <br />
    10-1: Frequency Change <br />
    10-2: Radio Check <br />
    10-3: Stop Transmitting <br />
    10-4: Affirmative <br />
    10-6: busy <br />
    10-9: Repeat <br />
    10-20: Location <br />
    10-22: Disregard <br />
    10-26: ETA <br />
    10-35: Wrap up the scene <br />
    10-43: Information <br />
    10-73: Advise Status <br />
    10-90: In game warning <br />
    Code 4: Under control <br />
    Signal 37: Meet at Location <br />
    Signal 100: Emergency traffic
  </div>
  <div id="req">
    Requests: <br />
    <br />
    10-27: Drivers License Check <br />
    10-28: Plate Check <br />
    10-29: Warrant Check <br />
    10-32: Requesting Backup <br />
    10-51: Towing Service <br />
    10-52: EMS service <br />
    10-53: Fire Dept. Service <br />
    10-71: Supervisor needed
  </div>
  <div id="subject">
    Subject Status: <br />
    <br />
    10-0: Disappeared <br />
    10-30: Wanted Person <br />
    10-55: Intoxicated Driver <br />
    10-60: Armed With a Gun <br />
    10-44: Person Deceased <br />
    10-15: Subject in Custody <br />
    10-31: Not wanted, No warrants <br />
    10-56: Intoxicated Pedestrian <br />
    10-61: Armed with a knife
  </div>
</div>
