<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>
<h1 class="users-title card-title">My Officers</h1>


<div class="users-list">
    <ul class="list-group" id="myUL">

        <li class="list-group-item">

            <a href="/admin/citizens/delete/" class="btn btn-danger float-right">Delete</a>
        </li>


    </ul>
</div>