<%- include("../partials/header.ejs") %>

<div class="container">
  <h1 class="users-title card-title text-center text-light ">Police Dept.</h1>

  <ul class="list-group">
    <a
      href="/officers/dash/search/plate"
      class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
    >
      Search Vehicle Plate
    </a>

    <a
      href="/officers/dash/search/person-name"
      class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
    >
      Search By Person Name
    </a>

    <a
      href="/officers/penal-codes"
      class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
    >
      Penal Codes
    </a>

    <a
      href="/officers/dash/codes"
      class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
    >
      10-Codes
    </a>
  </ul>
</div>
