<%- include("../partials/header.ejs") %>

<h1 class="card-title">Penal Codes</h1>

<ul class="list-group" id="myUL">
    <a href="/officers/dash" class="btn btn-primary">Police Dashboard</a>
    <input type="text" id="myInput" class="list-group-item" onkeyup="search()"
        placeholder="Search by Title or Description..">
    <% penals.forEach(value => { %>

    <li href="#" class="list-group-item">
        <div class="d-flex w-100 justify-content-between bolder">
            <h5 class="bolder"><%= value.title %> </h5>
        </div>
        <p class="mb-1"><%= value.des %>
        </p>

    </li>

    <% }) %>
</ul>

<script>
    function search() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>