<%- include("../partials/header.ejs") %>


<h1 class="card-title">Equinox Officers</h1>

<ul class="list-group">
    <a href="/officers/dash" class="btn btn-primary">Police Dashboard</a>

    <input type="text" id="myInput" class="list-group-item  uppercase" onkeyup="myFunction()"
        placeholder="Search Plates">



    <div class="users-list">

        <ul class="group-item" id="myUL">
            <% plates.forEach(plate => { %>
            <li class="list-group-item"><span class="uppercase"><%= plate.plate %></span>
                <a href="/officers/dash/search/plate/<%= plate.id %>-<%= plate.owner %> "
                    class="btn btn-primary float-right">More info</a>

            </li>
            <%   }) %>
        </ul>


    </div>

</ul>

<script>

    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>