<%- include("../partials/header.ejs") %>


<div class="container">

    <h1 class="card-title text-center mt-3">Equinox Officers</h1>

    <ul class="list-group" id="searUL">
        <a href="/officers/dash" class="btn btn-primary mt-2">Police Dashboard</a>

        <input type="text" id="searhI" class="list-group-item uppercase  mt-2" onkeyup="seardd()"
            placeholder="Search Plates">

        <% plates.forEach(plate => { %>
        <li class="list-group-item mt-2"><span class="uppercase"><%= plate.plate %></span>
            <a href="/officers/dash/search/plate/<%= plate.id %>-<%= plate.owner %>"
                class="btn btn-primary float-right">More info</a>
        </li>
        <%   }) %>


    </ul>

</div>

<script>

    function seardd() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("searhI");
        filter = input.value.toUpperCase();
        ul = document.getElementById("searUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>